/web/bundles/
/app/config/parameters.yml
/var/bootstrap.php.cache
/var/cache/*
/var/logs/*
!var/cache/.gitkeep
!var/logs/.gitkeep
/vendor/
/bin/*
!bin/console
!bin/symfony_requirements

/composer.phar

/nbproject
/.idea

/web/attachments
/build/api
/build/coverage
/build/logs
/build/pdepend
/build/phpdox
/build/doc