# Symfony Rules
app/bootstrap.php.cache
app/cache/*
app/logs/*
web/bundles/
vendor
composer.phar

# Testing QA
build/*
.sonar/*

# MacOSX
.DS_Store
*~

# Netbeans
nbproject/*

# Eclipse
.project
.buildpath
.settings/*
/web/info.php